#contentwrapper {
	float: left;
	width: 100%;
}

#contentcolumn {
	margin-left: 300px; /* Set left margin to LeftColumnWidth */
}

#leftcolumn {
	float: left;
	width: 300px; /* Width of left column */
	margin-left: -100%;
}

.configuration {
	padding: 5px;
}

#leftcolumn .row {
	background-color: #F6F6F6;
	border-right: 1px solid #DADFE0;
}

#leftcolumn .row.hours {
	background-color: transparent;
	text-align: right;
	padding-right: 5px;
	font-size: 10px;
}

#now {
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: red;
}

div.row {
	border-bottom: 1px solid #DADFE0;
	padding: 0;
	margin: 0;
	height: 40px;
}

div.timeline-box {
	overflow: auto;
}

div.timeline-panel {
	background-image: url('hour.gif');
	border-right: 1px solid black;
	position: relative;
}

div.timeline {
	position: relative;
}

div.hours {
	height: 20px;
}

.detailwrap {
	width: 100%;
	height: 100%;
}

.details {
	display: none;
	background-color: white;
	border: 1px solid black;
}

.details pre {
	background-color: white;
	overflow: auto;
	max-width: 385px;
	font-size: 8pt;
	line-height: 9pt;
}

.hour {
	width: 240px;
	float: left;
	text-align: center;
}

.details-headline {
	width: 100%;
	height: 28px;
}

.details-headline h3 {
	padding: 5px;
	color: white;
}

.details-content {
	padding: 5px;
}

.details-content td.label {
	width: 100px;
	font-weight: bold;
}

.task {
	position: absolute;
	height: 24px;
	top: 8px;
}

.details-headline, .task { background-image: url(gradient.png); }

.details-headline.success, .task.success { background-color: #36B963; }
.details-headline.pending, .task.pending { background-color: #A9ABA8; }
.details-headline.error, .task.error { background-color: #E41300; }
.details-headline.missed, .task.missed { background-color: #F75300; }
.details-headline.running, .task.running { background-color: #00A2FA; }

div.task.active, div.task:hover { background-color: #000000; }