<?xml version="1.0" ?>
<config>
	<modules>
		<Aoe_Scheduler>
			<version>0.1.1</version>
		</Aoe_Scheduler>
	</modules>

	<global>
		<blocks>
			<aoe_scheduler>
				<class>Aoe_Scheduler_Block</class>
			</aoe_scheduler>
		</blocks>

		<helpers>
			<aoe_scheduler>
				<class>Aoe_Scheduler_Helper</class>
			</aoe_scheduler>
		</helpers>

		<models>
			<aoe_scheduler>
				<class>Aoe_Scheduler_Model</class>
				<resourceModel>aoe_scheduler_mysql4</resourceModel>				
			</aoe_scheduler>
            <aoe_scheduler_mysql4>
        		<class>Aoe_Scheduler_Model_Mysql4</class>
                <resourceModel>aoe_scheduler_mysql4</resourceModel>
			</aoe_scheduler_mysql4>
			<cron>
				<rewrite>
					<observer>Aoe_Scheduler_Model_Observer</observer>
					<schedule>Aoe_Scheduler_Model_Schedule</schedule>
				</rewrite>
			</cron>
		</models>
	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Aoe_Scheduler before="Mage_Adminhtml">Aoe_Scheduler_Adminhtml</Aoe_Scheduler>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<translate>
			<modules>
				<aoe_scheduler>
					<files>
						<default>Aoe_Scheduler.csv</default>
					</files>
				</aoe_scheduler>
			</modules>
		</translate>
		<layout>
			<updates>
				<aoe_scheduler>
					<file>aoe_scheduler/aoe_scheduler.xml</file>
				</aoe_scheduler>
			</updates>
		</layout>
	</adminhtml>

	<!-- <crontab>
		<jobs>
			<aoescheduler_testtask>
				<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
				<run><model>aoe_scheduler/testTask::run</model></run>
			</aoescheduler_testtask>
		</jobs>
	</crontab> -->

</config>