<?xml version="1.0"?>
<config>
	<sections>
		<system>
			<groups>
				<cron translate="label comment" module="cron">
					<fields>
						<disabled_crons translate="label">
							<label>Disabled cron tasks</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</disabled_crons>
						<max_running_time translate="label">
							<label>Mark jobs as failed after</label>
							<comment><![CDATA[Maximum time in minutes. The will only marked as failed. It won't be killed (if it should actually be still running).]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</max_running_time>
						<scheduler_cron_expr_heartbeat>
							<label>Heartbeat task schedule (cron syntax)</label>
							<frontend_type>text</frontend_type>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</scheduler_cron_expr_heartbeat>
					</fields>
				</cron>
			</groups>
		</system>
	</sections>
</config>
